@keyframes desktop_nav_show {
    from {
        height:86px;
        background-color: rgb(255, 225, 225);
    }
    90% {
        height: 300px;
        background-color: rgb(255, 200, 200);
    }
    to {
        height: auto;
        background-color: rgb(255, 189, 189);
    }
}

@keyframes desktop_nav_hide {
    from {
        height: auto;
        background-color: rgb(255, 189, 189);
    }
    10% {
        height: 300px;
        background-color: rgb(255, 200, 200);
    }
    to {
        height: 86px;
        background-color: rgb(255, 225, 225);
    }
}

@keyframes image_after_show {
    from {
        display: none;
        opacity: 0;
    }
    1% {
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
    }
    2% {
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
        display: block;
    }
    to {  
        content: "Картинка из адаптивной галереи фотографий, связанных с электросамокатами";
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
        display: block;     
        opacity: 1;
    }
}

@keyframes image_after_hide {
    from {  
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
        display: block;     
        opacity: 1;
    }
    98% {
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
        display: block;
    }
    99% {
        position:absolute;
        bottom: 10px;
        top: 5px;
        left: 5px; 
        right: 0;
        z-index:2;
        border: 1px solid rgba(0,0,0,0);
        border-radius: 5px;
        background-color: rgba(0, 255, 0, 0.7);
        box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, 0.7);
        transition-duration: 0.5s;
        vertical-align: bottom;
    }
    to {
        content: "";
        display: none;
        opacity: 0;
    }
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    50% {
        transform: scale(1.0, 1.2);
        opacity: 1;
    }
    99% {
        transform: scale(1.2, 1.5);
        opacity: 0;
    }
    to {
        transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes video_after_show {
    from {
        content:'';
        display: none;
        opacity: 0;
    }
    1% {
        content:'Данный фрагмент известного видео с Ютуба, которое было давно удалено из-за нарушений правил сайта, описывает историю самокатов и влияние иллюминатов на развитие электросамокатов.';
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 0;
    }
    2% {
        content:'Данный фрагмент известного видео с Ютуба, которое было давно удалено из-за нарушений правил сайта, описывает историю самокатов и влияние иллюминатов на развитие электросамокатов.';
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 0;
        display: block;
    }
    to {
        content:'Данный фрагмент известного видео с Ютуба, которое было давно удалено из-за нарушений правил сайта, описывает историю самокатов и влияние иллюминатов на развитие электросамокатов.';
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 1;
        display: block;
    }
}

@keyframes video_after_hide {
    from {
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 1;
        display: block;
    }
    
    98% {
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 0;
        display: block;
    }
    
    99% {
        background-color: #444;
        color: #fff;
        width: 300px;
        opacity: 0;
        display: none;
    }

    to {
        content: "";
        display: none;
        opacity: 0;
    }
}