@import url("fonts.css");
@import url("animation.css");

body {
    background: #888 url("../media/bg/background 2.jpg");
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto-Serif', 'Times New Roman', serif;
}

body {
    font-family: 'Rubik', 'Arial', sans-serif;
}

em#small_font {
    font-size: 20%;
}

div#loading {
    width:100%;
    height:10000px;
    margin:-10px;
    border:none;
    padding:0px;
    background-color: #fff;
    position:fixed;
    z-index:1000;
}

img#loading-gif{
    width:10%;
    height:10%;
    position:fixed;
    top:45%;
    left:45%;
    z-index: 1001;
}

div.page_wrap {
    margin: 0px auto;
    width: 980px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    row-gap: 20px;
    column-gap: 20px;
}

header {
    position: sticky;
    top:-10px;
    margin: 10px auto;
    width: 100%;
    min-height: 118px;
    background-color: #fff;
    border:3px solid #000;
    border-radius:10px;
    z-index: 100;
}

#top_of_the_site {
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    width: 100%;
    max-width: 413px;
    position: absolute;
    top: 0px;
    left: 0px;
}

nav {
    width: 80%;
}

/*Навигация на мобильной версии сайта*/
nav#mobile_nav {
    display: none;
    width:auto;
    min-height: 108px;
}

nav#mobile_nav #mobile_nav_checkbox, nav#mobile_nav div#mobile_nav_hideable {
    margin-top:150px;
    display: none;
}

nav#mobile_nav label {
    cursor: pointer;
}

nav#mobile_nav #mobile_nav_checkbox:checked ~ label {
    cursor: pointer;
}

nav#mobile_nav #mobile_nav_checkbox ~ label > img {
    border: none;
    position:absolute;
    right:20px;
    top:20px;
}

nav#mobile_nav #mobile_nav_checkbox:checked ~ label > img {
    border: none;
    content: url("../media/mobile_nav_checked.png");
    position:absolute;
    right:20px;
    top:20px;
}

nav#mobile_nav #mobile_nav_checkbox:checked ~ div#mobile_nav_hideable {
    display: block;
}

/*Навигация на обычной версии сайта*/
nav#desktop_nav {
    border: 2px solid #f88;
    background-color: rgb(255, 189, 189);
    padding:20px;
    border-radius: 10px;
    width: 40%;
    margin: 20px 20px;
    overflow: hidden;
    float:right;
    animation-name: desktop_nav_hide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
    opacity: 0.9999;
}

nav#desktop_nav:hover {
    animation-name: desktop_nav_show;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

nav a {
    color: #00f;
    text-decoration: none;
}

nav a:visited {
    color: #88f;
}

nav a:hover {
    color: #fff;
}

.footer_input {
    border: 2px solid #000;
    background-color: #ff6;
    cursor: pointer;
    transition-duration: 0.5s;
    position:relative;
}

.footer_input:hover {
    border: 2px solid #888;
    background-color: #ff9;
    transition-duration: 0.5s;
    position:relative;
}

.footer_input:hover::before {
    content:'';
    border: 4px solid #ff0;
    animation: pulse 0.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}

.hideable_block {
    display: inline-block;
    border: 5px inset #ff8;
    background-color: rgb(255, 255, 189);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    width:80%;
}

.hideable_block.left {
    width:40%;
    float: left;
    overflow: auto;
}

.hideable_block.right {
    width:40%;
    float: right;
    overflow: auto;
}

address{
    border: 5px outset #ff8;
    background-color: rgb(255, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom:10px;
    text-align: center;
}

footer {
    border: 2px solid #ff8;
    background-color: rgb(255, 255, 189);
    border-radius: 10px;
    width: 100%;
    min-width: 400px;
    margin: 20px auto;
    text-align: left;
    overflow:hidden;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto, auto;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas: 
    "block1 block2 block3 block4"
    "copyright copyright copyright copyright";
    justify-content: left;
    align-items: stretch;
}

footer div#block1 {
    grid-area: block1;
}
footer div#block2 {
    grid-area: block2;
}
footer div#block3 {
    grid-area: block3;
}
footer div#block4 {
    grid-area: block4;
}

footer div#block1 > h2, footer div#block2 > h3, footer div#block3 > h3, footer div#block4 > h3 {
    text-decoration: none;
    transition-duration: 0.5s;
}

footer div#block1:hover > h2, footer div#block2:hover > h3, footer div#block3:hover > h3, footer div#block4:hover > h3 {
    text-decoration: underline;
    transition-duration: 0.5s;
}

footer div#copyright {
    position:relative;
    left:-5px;
    bottom:-5px;
    width:100%;
    border: 2px solid #000;
    background-color: rgb(200, 200, 140);
    padding: 10px;
    grid-area: copyright;
}

footer img {
    margin: 10px 0px;
    border: none;
    width: 234px;
    max-width: none;
}

section {
    border: 2px solid #000;
    background-color: #ddd;
    padding:20px;
    border-radius: 10px;
    width: 95%;
    margin: 0px 7px;
    height: auto;
    overflow: auto;
}

article {
    border: 2px solid #d8d;
    background-color: #fdf;
    padding:20px;
    border-radius: 10px;
    width: 95%;
    margin: 0px 7px;
    overflow: auto;
}

aside{
    border: 2px dashed #888;
    background-color: #eee;
    padding:20px;
    border-radius:10px;
    width: 90%;
    margin: 0px 7px;
    overflow: auto;
}

div.image_and_text{
    border: none;
    padding:0px;
    margin: 0px 10px;
    margin-left:0px;
    display: inline-block;
    height: auto;
}

div.image_and_text div.image {
    border: none;
    padding:20px;
    width:25%;
    min-width:300px;
    float: right;
}

div.image_and_text div.text {
    border: none;
    padding: 20px;
    width:100%;
}

article#terms {
    grid-area: terms;
}

section#first {
    grid-area: first;
}

section#second {
    grid-area: second;
}

aside#aside_second {
    grid-area: aside_second;
}

aside#third {
    grid-area: third;
}

section#fourth {
    grid-area: fourth;
}

section#fifth {
    grid-area: video;
}

section#sixth {
    grid-area: imgs;
}

section#sixth div#image_container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 200px);
    gap: 5px 5px;
    grid-template-areas: 
    "fourth fourth third third"
    "first second second sixth"
    "seventh seventh seventh fifth"
    ;
    align-items: stretch;
    justify-items: stretch;
}

div#image_container div.img {
    position: relative;
    opacity: 0.999;
    z-index: 1;
}

div#image_container div.img::before {
    opacity: 0;
    background-color: rgba(0, 255, 0, 0.33);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    width:auto;
    height:auto;
    z-index:2;
    color: #fff;
    text-shadow: 1px 1px 1px #000; 
}

div#image_container div.img:hover::before {
    opacity: 1;
    background-color: rgba(0, 255, 0, 0.33);
    transition-duration: 0.5s;
    transition-timing-function: linear;
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:2;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

div#image_container div.img#first {
    grid-area: first;
}

div#image_container div.img#first::before {
    content: 'Китайский разведывательный аэростат';
}

div#image_container div.img#second {
    grid-area: second;
}

div#image_container div.img#second::before {
    content: 'Электросамокат';
}

div#image_container div.img#third {
    grid-area: third;
}

div#image_container div.img#third::before {
    content: 'Электросамокат';
}

div#image_container div.img#fourth {
    grid-area: fourth;
}

div#image_container div.img#fourth::before {
    content: 'Электросамокат';
}

div#image_container div.img#fifth {
    grid-area: fifth;
}

div#image_container div.img#fifth::before {
    content: 'Байден упал на трапе самолета';
}

div#image_container div.img#sixth {
    grid-area: sixth;
}

div#image_container div.img#sixth::before {
    content: '+15 social credit, партия гордится тобой';
}

div#image_container div.img#seventh {
    grid-area: seventh;
}

div#image_container div.img#seventh::before {
    content: 'Владимир Владимирович Путин';
}

div#image_container div.img#eighth {
    grid-area: eighth;
}

div.img img {
    width: 100%;
    height: 100%;
}

div.img#seventh img {
    transform: scale(-1,1);
}

main {
    margin:10px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(6, auto);
    gap: 20px 20px;
    grid-template-areas: 
    ". terms ."
    ". first ."
    ". second aside_second"
    "third fourth ."
    ". video ."
    ". imgs ."
    ;
    justify-content: space-around;
    align-items: start;
}

/*
далее идет оптимизация под разную ширину окна

    Ширина окна (пиксели) | Поведение
    ----------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------
    1600 и более          | Загружается расширенная версия сайта: все section идут по центру, aside - слева и справа от section
    1001-1599             | Загружается стандартная версия сайта: section занимают всю доступную ширину сайта, aside делят место с section; доступная ширина - 1000 пикселей
    751-1000              | Загружается стандартная версия сайта: section занимают всю доступную ширину сайта, aside делят место с section; общая ширина элементов равна 98% от ширины сайта
    750 и менее           | Загружается мобильная версия сайта: все блоки идут в одной колонке
*/

@media screen and (min-width: 1600px) {
    div.page_wrap {
        width:1500px;
    }
    div.cards_prac7 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    div.notification_block{
        top: 10px;
    }
    .hideable_block.left, .hideable_block.right {
        min-width: none;
    }
}

@media screen and (max-width: 1000px) {
    div.page_wrap {
        width:98%;
    }
    div.notification_block{
        top: 10px;
    }
    .hideable_block.left, .hideable_block.right {
        width:80%;
        min-width: 350px;
        float: none;
    }
    main {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-template-areas: 
        "terms"
        "first"
        "second"
        "aside_second"
        "third"
        "fourth"
        "video"
        "imgs"
        ;
    }
}

@media screen and (max-width: 768px) {

    div.row {
        flex-direction: column;
    }

    aside, section {
        width: 80%;
        margin: 10px auto;
    }

    .hideable_block.left, .hideable_block.right {
        width:80%;
        min-width: 350px;
        float: none;
    }

    nav#mobile_nav {
        display: inline-block;
    }

    nav#desktop_nav {
        display: none;
    }

    main {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-template-areas: 
        "terms"
        "first"
        "second"
        "aside_second"
        "third"
        "fourth"
        "video"
        "imgs"
        ;
    }
}