@import url(fonts.css);

body {
    background-color: #888;
}

em#small_font {
    font-size: 20%;
}

div#loading {
    width:100%;
    height:10000px;
    margin:0px;
    border:none;
    padding:0px;
    background-color: #fff;
    position:fixed;
    z-index:1000;
}

img#loading-gif{
    width:10%;
    height:10%;
    position:fixed;
    top:45%;
    left:45%;
    z-index: 1001;
}

section {
    border: 2px solid #000;
    background-color: #ddd;
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    height: auto;
}

section:not(#work_principles) {
    overflow: auto;
}

article {
    border: 2px solid #d8d;
    background-color: #fdf;
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    overflow: auto;
}

#work_principles{
    border: none;
    width:100%;
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
}

aside.left_side{
    float: left;
    border: 2px dashed #888;
    background-color: #eee;
    padding:20px;
    border-radius:10px;
    width: 50%;
    margin: 20px 20px;
    overflow: auto;
}

aside.right_side{
    float: right;
    border: 2px dashed #888;
    background-color: #eee;
    padding:20px;
    border-radius:10px;
    width: 50%;
    margin: 20px 20px;
    overflow: auto;
}

.image_and_text_list {
    border: none;
    padding:20px;
    margin: 0px 10px;
    display: inline-block;
    height: auto;
}

.image_and_text {
    border: none;
    padding:0px;
    margin: 0px 10px;
    margin-left:0px;
    display: inline-block;
    height: auto;
}

.image {
    border: none;
    padding:20px;
    width:25%;
    min-width:300px;
    float: right; 
}

.text {
    border: none;
    padding: 20px;
    width:100%;
}

.image_and_text > .image {
    border: none;
    padding:20px;
    padding-top: 0px;
    width:25%;
    min-width:300px;
    float: right; 
}

.image_and_text > .text {
    border: none;
    padding: 0px;
    width:100%;
}

nav{
    border: 2px solid #f88;
    background-color: rgb(255, 189, 189);
    padding:20px;
    border-radius: 10px;
    width: 40%;
    margin: 20px auto;
    overflow: auto;
    position: sticky;
    top:10px;
}

.nav_input {
    border: 2px solid #000;
    background-color: #f66;
    cursor: pointer;
    transition-duration: 0.5s;
}

.nav_input:hover {
    border: 2px solid #888;
    background-color: #f99;
    transition-duration: 0.5s;
}

.footer_input {
    border: 2px solid #000;
    background-color: #ff6;
    cursor: pointer;
    transition-duration: 0.5s;
}

.footer_input:hover {
    border: 2px solid #888;
    background-color: #ff9;
    transition-duration: 0.5s;
}

.hideable_block {
    display: inline-block;
    border: 5px inset #ff8;
    background-color: rgb(255, 255, 189);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0px;
    width:80%;
}

.hideable_block.left {
    width:40%;
    float: left;
    overflow: auto;
}

.hideable_block.right {
    width:40%;
    float: right;
    overflow: auto;
}

address{
    border: 5px outset #ff8;
    background-color: rgb(255, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom:10px;
    text-align: center;
}

footer {
    border: 2px solid #ff8;
    background-color: rgb(255, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    overflow: auto;
}

img {
    border-radius: 10px;
    border: 3px solid #000;
    margin: 10px 0px;
    width: 80%;
    max-width: 300px;
}

img.block_decoration {
    border: none;
    margin:0px;
    width:40px;
    height:40px;
    position:absolute;
    top:100px;
    right:10px;
}

#top_of_the_site {
    border-radius: 10px;
    border: 3px solid #000;
    margin: 10px 0px;
    width: 100%;
    max-width: 413px;
    position: relative;
    bottom: -10px;
}

footer img {
    margin: 10px 0px;
    border: none;
    width: 234px;
    max-width: none;
}

header {
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    text-align: center;
    border: 2px solid #000;
    background-color: #fff;
    width:100%;
    height:150px;
}

nav a {
    color: #00f;
    text-decoration: none;
}

nav a:visited {
    color: #88f;
}

nav a:hover {
    color: #fff;
}

ul > li {
    list-style: square;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto-Serif', 'Times New Roman', serif;
}

body {
    font-family: 'Rubik', 'Arial', sans-serif;
}

.to_the_top_button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

form {
    border: 2px solid #8f8;
    background-color: rgb(189, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

form > fieldset {
    margin: 10px;
    width:80%;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 10px;
}

fieldset#form_FIO {
    background-color: rgba(255, 0, 255, 0.33);
}

fieldset#form_contacts {
    background-color: rgba(0, 0, 255, 0.33);
}

fieldset#form_question1 {
    background-color: rgba(255, 255, 0, 0.33);
}

fieldset#form_question2 {
    background-color: rgba(0, 255, 255, 0.33);
}

fieldset#form_date {
    background-color: rgba(255, 0, 0, 0.33);
}

fieldset#city_select_field {
    background-color: rgba(255, 255, 255, 0.33);
}

fieldset#feedback_field {
    background-color: rgba(0, 255, 0, 0.33);
}

fieldset > legend {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0px 10px;
    background-color: #fff;
}

fieldset > label {
    margin: 10px;
    width:100%;
    display: inline-block;
}

label > input {
    border: 2px solid #000;
    background-color: #eee;
    margin-right: 1ch;
}

label > input:hover {
    border: 2px solid #ff0;
    background-color: #ff8;
}

label > input:focus {
    border: 2px solid #c60;
    background-color: #ff0;
}

label > input::placeholder {
    color: #88f;
    font-style: italic;
}

label > select {
    border: 2px solid #000;
    background-color: #eee;
    margin-right: 1ch;
}

label > select:hover {
    border: 2px solid #ff0;
    background-color: #ff8;
}

label > select:focus {
    border: 2px solid #c60;
    background-color: #ff0;
}

label > textarea {
    border: 2px solid #000;
    background-color: #eee;
    margin-right: 1ch;
}

label > textarea:hover {
    border: 2px solid #ff0;
    background-color: #ff8;
}

label > textarea:focus {
    border: 2px solid #c60;
    background-color: #ff0;
}