@import url(fonts.css);

body {
    background-color: #888;
}

section {
    border: 2px solid #000;
    background-color: #ddd;
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    height: auto;
}

article {
    border: 2px solid #d8d;
    background-color: #fdf;
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
}

#work_principles{
    border: none;
    width:100%;
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
}

aside{
    float: right;
    border: 2px dashed #888;
    background-color: #eee;
    padding:20px;
    border-radius:10px;
    width: 50%;
    margin: 20px 20px;
}

.image_and_text_list {
    border: none;
    padding:20px;
    margin: 0px 10px;
    display: inline-block;
    height: auto;
}

.image_and_text {
    border: none;
    padding:0px;
    margin: 0px 10px;
    margin-left:0px;
    display: inline-block;
    height: auto;
}

.image {
    border: none;
    padding:20px;
    width:25%;
    min-width:300px;
    float: right; 
}

.text {
    border: none;
    padding: 20px;
    width:100%;
}

.image_and_text > .image {
    border: none;
    padding:20px;
    padding-top: 0px;
    width:25%;
    min-width:300px;
    float: right; 
}

.image_and_text > .text {
    border: none;
    padding: 0px;
    width:100%;
}

nav{
    border: 2px solid #f88;
    background-color: rgb(255, 189, 189);
    padding:20px;
    border-radius: 10px;
    width: 40%;
    margin: 20px auto;
}

address{
    border: 5px outset #ff8;
    background-color: rgb(255, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer {
    border: 2px solid #ff8;
    background-color: rgb(255, 255, 189);
    padding:20px;
    border-radius: 10px;
    width: 40%;
    margin: 20px auto;
    text-align: center;
}

img {
    border-radius: 10px;
    border: 3px solid #000;
    margin: 10px 0px;
    width: 80%;
    max-width: 300px;
}

#top_of_the_site {
    border-radius: 10px;
    border: 3px solid #000;
    margin: 10px 0px;
    width: 100%;
    max-width: none;
}

footer img {
    margin: 10px 0px;
    border: none;
    width: 467px;
    max-width: none;
}

header {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #00f;
}

nav a:visited {
    color: #88f;
}

nav a:hover {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto-Serif', 'Times New Roman', serif;
}

body {
    font-family: 'Rubik', 'Arial', sans-serif;
}