div.carusel_unit {
	display: grid;
	grid-template-columns: 70px 560px 70px;
	width: 700px;
	margin: auto;

	justify-content: center;
	align-items: center;
}

div.carusel {
	--state: 0;

	width: 500px;
	margin: auto;
	overflow: hidden;
	background-color: rgba(255, 255, 0, 0.5);
	
	display: flex;
	flex-flow: row nowrap;
}

div.carusel > div.block {
	width: 80%;
	margin: 20px;
	padding: 20px;
	background-color: rgba(128, 128, 128, 0.5);
	border: 2px solid #000;	
	flex-basis: 50%;
	flex-grow: 0;
	flex-shrink: 0;
	order: 3;
	
	transition-duration: 0.5s;
	position: relative;
	left: calc(17% - var(--state) * 67%);
}

div.block [front] {
	order: 1;
}

div.block [left] {
	order: 0;
}

div.block [right] {
	order: 2;
}

img.left, img.right {
	width: 70px;
	height: 70px;
}